# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
log/
geckodriver.log

# production
/build
/dist
OnlySnarf.egg-info

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
/venv
__pycache__
.pytest_cache

# credentials
OnlySnarf/conf/users/alexdicksdown.conf
