# Config
include OnlySnarf/config_example.json
include OnlySnarf/google_creds_example.txt
include OnlySnarf/settings_example.yaml

# Include the README
include *.md

# Include the license file
include LICENSE.txt