[Unit]
Description=OnlySnarf API
After=network.target

[Service]
WorkingDirectory=/home/snarf/
ExecStart=/home/snarf/.local/bin/snarfapi -verbose users
Restart=always
User=snarf

[Install]
WantedBy=multi-user.target